body {
    margin: 0;
}

* {
    font-size: 16px;
    box-sizing: border-box;
}

ul[class] {
    list-style: none;
}

ul[class],
li {
    margin: 0;
    padding: 0;
}

.fruits {
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.fruit {
    margin: 10px;
    padding: 10px;
    width: fit-content;
    height: 100px;
    border-radius: 10px;
}

.fruit_violet {
    background: #8b00ff;
}

.fruit_green {
    background: #84cd1b;
}

.fruit_carmazin {
    background: #dc143c;
}

.fruit_yellow {
    background: #ffd800;
}

.fruit_lightbrown {
    background: #cd853f;
}

.fruit_info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    background: #fff;
    height: 100%;
    padding: 10px;
}

.panel {
    padding-left: 10px;
}

button {
    background-color: #008cba;
    border: none;
    color: white;
    padding: 10px 16px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    max-width: fit-content;
}

input {
    margin: 5px 10px 5px 0;
    border: 0;
    padding: 0 10px;
    line-height: 36px;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
    background-color: #3cbc8d;
    color: white;
    max-width: 200px;
}

.filter_wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

span {
    margin: 5px 10px 5px 0;
}

.some {
    margin-bottom: 5px;
}
